<header id="homeHeader">
	<ul id="ht">
		<li>
			<a href="">
				<img src="./../image/logo.png" alt="">
			</a>
		</li>
		<li>
			<div class="searchbox">
				商品搜索，共5106款好物
			</div>
		</li>
	</ul>
	<ul id="hb">
		<li class="active">推荐</li>
		<li>居家</li>
		<li>餐厨</li>
		<li>配件</li>
		<li>服装</li>
		<li>洗护</li>
		<li>婴童</li>
		<li>杂货</li>
		<li>饮食</li>
		<li>志趣</li>
	</ul>
</header>
<div id="homeContent">
	<div class="swiper-container">
		<div class="swiper-wrapper" id="homeBanner">
<!-- 			<div class="swiper-slide">
	        	<img src="../image/banner1.jpg" alt="" />
	        </div>
	        <div class="swiper-slide">
	        	<img src="../image/banner2.jpg" alt="" />
	        </div>
	         <div class="swiper-slide">
	        	<img src="../image/banner3.jpg" alt="" />
	        </div>
	         <div class="swiper-slide">
	        	<img src="../image/banner4.jpg" alt="" />
	        </div>
	        <div class="swiper-slide">
	        	<img src="../image/banner5.jpg" alt="" />
	        </div> -->
		</div>
		<div class="swiper-pagination"></div>
	</div>
	<div class="service">
		<p>网易自营品牌</p>
		<p>30天无忧退换</p>
		<p>48小时快速退款</p>
	</div>
	<ul id="proList">
		<!-- <li>
			<a href="#">
				<div class="hd">
					<div class="proimg">
						<img src="./image/proList.png" alt="">
					</div>
					<div class="desc">日系纯色，面料轻柔舒透</div>
				</div>
				<div class="bt">
					<p class="proName">
						全棉针织纯色四件套
					</p>
					<span class="price">
						￥299
					</span>
					<button class="addCart">加入购物车</button>
				</div>
			</a>
		</li> -->
	</ul>
</div>