<header id="loginHeader">
	

	<ul class="commonH">
		<li id="back">
			&nbsp;
		</li>
		<li>
			<a href="">
				<img src="./../image/logo.png" alt="">
			</a>
		</li>
		<li>
			搜索
		</li>
		<li>
			购物车
		</li>
	</ul>
</header>
<div id="loginContent">
	<!--  css  ---- user.scss    -->
	<form>
		<input type="text" name="userID" id="userID" value="" placeholder="邮箱号码"/>
		<input type="password" name="password" id="password" value="" placeholder="密码"/>
		<input type="button" id="loginBtn" value="登录" />
	</form>
	<ul class="goRegister">
		<li id="goToregister">注册账号</li>
		<li>忘记密码</li>
	</ul>
	<ul class="otherLogin">
		<li>QQ</li>
		<li>微博</li>
	</ul>
</div>