<header id="registerHeader">
	

	<ul class="commonH">
		<li id="back">
			返回
		</li>
		<li>
			<a href="">
				<img src="./../image/logo.png" alt="">
			</a>
		</li>
		<li>
			搜索
		</li>
		<li>
			购物车
		</li>
	</ul>
</header>
<div id="registerContent">

	<form>
		<input type="text" name="userID" id="userID" value="" placeholder="请输入用户名"/>
		<input type="password" name="password" id="password" value="" placeholder="请输入密码"/>
		<input type="button" id="registerBtn" value="注册" />
	</form>
</div>