<header id="userHeader">
	<div id="userDetial">
		<img src="../image/advator.jpg" id="advator" alt="">
		<div id="userName_Level">
			<span id="userName">
				Cherish
			</span>
			<span id="userLevel">
				Level:v2
			</span>
		</div>
	</div>
	<div id="userQr"></div>
</header>
<div id="userContent">
	<ul id="userMore">
		<li>我的订单</li>
		<li>周六一起拼</li>
		<li>售后服务</li>
		<li>邀请返利</li>
		<li>优惠券</li>
		<li>优先购</li>
		<li>礼品卡</li>
		<li>会员福利</li>
		<li>地址管理</li>
		<li>账号安全</li>
		<li>联系客服</li>
		<li>帮助中心</li>
	</ul>
	<input type="button" id="logout" value="退出登录">
</div>